<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Soooooocket</title>
	<link rel="stylesheet" href="/assets/css/common.css?2014043001" />
	<link rel="stylesheet" href="/assets/css/helper.css?2014043001" />
	<link rel="stylesheet" href="/assets/ui/tipsy/light.css?2014043001" />
    <style type="text/css">
        html, body {
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        .dialog-comments .d-content {
            max-height: 400px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    </style>
    <script src="/assets/js/detection.js?2014043001"></script>
	<script src="/assets/lib/jquery.js?2014043001"></script>
	<script src="/assets/lib/jquery.easing.1.3.js?2014043001"></script>
	<script src="/assets/ui/dialog.js?2014043001"></script>
	<script src="/assets/ui/tinyscrollbar.js?2014043001"></script>
	<script src="/assets/ui/tipsy.js?2014043001"></script>
	<script src="/assets/js/auth.js?2014043001"></script>
	<script src="/assets/js/project.js?2014043001"></script>
	<script>
        window.ProjectExportUrlPrefix = 'http://page.9466.com/projects/export?projectid=';
        window.ProjectId = 'MDAwMTEwO1Tkx';
        window.ProjectName = '个人网站';
	</script>
    <script src="/assets/js/preview.js?2014043001"></script>
</head>
<body>
	<div class="project-view-container">
        <div class="project-view-content">
            <div class="logo" style="position: relative;"><a title="返回 9466网页助手 首页" href="http://www.9466.com/" style="position: absolute; display: block; width: 100%; height: 100%; text-indent: -9999em; overflow: hidden;">9466网页助手</a></div>
			<div class="project-name">
				<h2 class="title" title="个人网站">个人网站</h2>
                <div class="userwrap ovh">
                    <a title="EVE">
                        <img src="http://q.qlogo.cn/qqapp/100504101/9AD077F180EE555829CBCD64FF7FFF3E/40" alt="" class="fl" />
                        <span class="fl">EVE</span>
                    </a>
                </div>
                <span class="count">3 克隆</span>
			</div>
			<div class="js-scrollbar">
				<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
				<div class="viewport">
                    <div class="js-scrollbar-opacity"></div>
					 <div class="overview">
					 	<ul class="page-nav">
                            					 		<li><a class="current" href="http://page.9466.com/template/MDAwMTEwO1Tkx/index.html" target="iframe">首页</a></li>
                            					 		<li><a href="http://page.9466.com/template/MDAwMTEwO1Tkx/xc.html" target="iframe">相册</a></li>
                            					 		<li><a href="http://page.9466.com/template/MDAwMTEwO1Tkx/gy.html" target="iframe">关于我们</a></li>
                            					 		<li><a href="http://page.9466.com/template/MDAwMTEwO1Tkx/xq.html" target="iframe">心情日志</a></li>
                            					 		<li><a href="http://page.9466.com/template/MDAwMTEwO1Tkx/xl.html" target="iframe">联系方式</a></li>
                            					 	</ul>
					 </div>
				</div>
			</div>
                        <div class="ovh">
                                    <a style="cursor: pointer;" class="btn-clone" data-template="1">选用模板</a>
                            </div>
            <div class="_bshare">
                <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="margin: 4px 0 0 4px;" data="{'text':'我在 9466网页助手 分享了 个人网站，快来看看吧', 'pic':'http://a.page.9466.com/110991/screenshot/template-1398325263.jpg', 'url':'http://page.9466.com/project/MDAwMTEwO1Tkx', 'bdComment':'', 'bdDes':'9466 网页助手'}">
                    <a class="bds_qzone"></a>
                    <a class="bds_tsina"></a>
                    <a class="bds_renren"></a>
                    <a class="bds_douban"></a>
                    <a class="bds_tqq"></a>
                    <span class="bds_more"></span>
                </div>
                <script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>            </div>
            <div class="ovh row row-comments">
                <a class="action action-comment">
                    <i></i>
                    <span class="ds-thread-count" data-thread-key="template-MDAwMTEwO1Tkx" data-count-type="comments"></span>
                    <span></span>
                </a>
            </div>
            <div class="ovh row row-like">
                <a class="action action-like" data-tips="">
                    <i></i>
                    <span class="like-count"></span>
                    <span>赞</span>
                </a>
            </div>
            <div class="ovh row row-likes">
                <div class="row-likes-arrow"></div>
                <div class="row-likes-content"></div>
            </div>
                    </div>
        <a class="project-view-arrow"></a>
	</div>
    <div class="project-view-iframe">
        <iframe name="iframe" width="100%" height="100%" frameborder="0" src="http://page.9466.com/template/MDAwMTEwO1Tkx/index.html"></iframe>
    </div>

    <div class="project-view-comments ds-thread" data-thread-key="project-MDAwMTEwO1Tkx"></div>

    <script type="text/javascript">
    var duoshuoQuery = {short_name:"9466"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
    <script type="text/javascript" src="http://hm.baidu.com/h.js?e3b8037c28a081a23bf95c086249b881" charset="UTF-8"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=28053487" charset="UTF-8"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-45239164-1', '9466.com');
        ga('send', 'pageview');
    </script>

</body>
</html>
