<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Socket</title>
    <link rel="stylesheet" href="/css/index.css?1398972899" />
    <script type="text/javascript" src="/js/assets/index.js?1398972899"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>
    <!--[if IE 6]>
    <script> try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {} </script>
    <![endif]-->
  </head>
  <body id="w-body-aaaa" data-type="body" class="n-widget w-body t-body-default">
    <div id="w-area-aaab" data-type="area" class="n-widget w-area">
      <div id="w-image-aaac" data-type="image" class="n-widget w-image">
        <canvas id="myCanvas"></canvas>
    	<script type="text/javascript" src="http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>
    	<script type="text/javascript" src="/js/animate.js"></script>
      </div>
    </div>
    <div id="w-columnbox-aaad" data-type="columnbox" class="n-widget w-columnbox">
        <div class="w-col" style="width:50%;">
        <div id="w-area-aaae" data-type="area" class="n-widget w-area">
          <div id="w-100002-form-aaaf" data-type="100002.form" class="n-widget w-100002-form t-100002-form-default">
            <form method="get"
                action="/lindex/">
  <h2></h2>
  <div id="w-area-aaag" data-type="area" class="n-widget w-area">
  <div id="w-100002-text-aaah" data-type="100002.text" class="n-widget w-100002-text">
    <div class="form-group" data-comid="1" data-title="User Name" data-required="0">
  <label>User Name <span class="required"></span></label>
  <input name="userName" type="text" class="form-control input" value="" style="width: 75%">
  </div>
  </div>
  <div id="w-100002-text-aaai" data-type="100002.text" class="n-widget w-100002-text">
    <div class="form-group" data-comid="2" data-title="Password" data-required="0">
  <label>Password <span class="required"></span></label>
  <input name = "password"type="text" class="form-control input" value="" style="width: 75%">
  </div>
  </div>
  <div id="w-text-aaaj" data-type="text" class="n-widget w-text">
  No User Name?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/register/">Register</a><br>
  </div>
</div>
  <div id="w-button-aaak" data-type="button" class="n-widget w-button t-button-default">
  <a href="javascript:void(0);" class="w-button-container w-button-fixed" id="w-button-aaak-b">
  <span class="w-button-text"><i class="middle"></i><b class="text"><input type="submit" name="submit" value="Login" class="button" /></b></span><i class="w-button-right"></i>
  </a>
</div>
  </form>
          </div>
        </div>
        </div>
        <div class="w-col" style="width:50%;">
        <div id="w-area-aaal" data-type="area" class="n-widget w-area">
          <div id="w-100002-form-aaam" data-type="100002.form" class="n-widget w-100002-form t-100002-form-default">
            <form method="get"
                action="/result/">
  <h2></h2>
  <div id="w-area-aaan" data-type="area" class="n-widget w-area">
  <div id="w-100002-text-aaao" data-type="100002.text" class="n-widget w-100002-text">
    <div class="form-group" data-comid="1" data-title="文本输入框" data-required="0">
  <label> <span class="required"></span></label>
  <input name = "stockName"type="text" class="form-control input" value="" style="width: 75%">
  </div>
  </div>
</div>
	
  <div id="w-button-aaap" data-type="button" class="n-widget w-button t-button-default">
  <a href="javascript:void(0);" class="w-button-container w-button-fixed" id="w-button-aaap-b">
  <span class="w-button-text"><i class="middle"></i><b class="text"><input type = "submit"size = "200" style = "width:120;heigth=50"value = "Search"/></b></span><i class="w-button-right"></i>
  </a>
</div>
  </form>
          </div>
        </div>
        </div>
    </div>
  <!--custom footer start-->
<script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fce299e0fd4094e4d5efce40bab839811' type='text/javascript'%3E%3C/script%3E"));</script>
<!--custom footer end-->
  
  </body>
</html>
